* {
	padding:0;
	margin:0;
  text-align: center;
    font-family: Helvetica;
	color:#fff;
    list-style-type: none;
}

body {
	margin: 0;
	text-align: center;
	font-family: sans-serif;
	display: grid;
	grid-gap: 0;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
	grid-template-rows: 1fr 1fr 1.5fr 1fr 1fr;
}
main{
	grid-area:4/6/3/1;
}

footer{
	grid-area:6/6/5/1
}

a{
    color: #fff;
}

a:link {
	color: #fff;
}

a:visited {
	color: #fff;
}

a:hover {
	color: #ccc;
}

a:active {
	color: #F08093;
}


h4 { 

    font-family: 'Times New Roman', Times, serif;
  color: #A40D27;
  font-size: 45px;
  letter-spacing: 0.2px; 
  font-weight: bold;
  text-align: center;
	}

h1 {

	padding: 0 2.5%;
	text-align: left;
  	font: normal 3em 'New Times Roman', georgia;
  	letter-spacing: 0.2px; 
  	font-weight: lighter;
}

p{
    color: #fff;
    font-family: Helvetica;
    margin: 1em;
}


a.title{
    text-decoration: none;
}

 button {
   color: #ffffff;
   background-color: #A40D27;
   font: normal 0.9em georgia;
   font-family: helvetica;
   font-weight: lighter;
   padding:12px;
   margin:1%; 
   border-radius: 6px;
   border-style: none;
   cursor: pointer;
  }
  button:hover {
    color:#ccc;
  }
  footer ul li {
    display:inline-block;
    position: relative;
      margin:10px auto;
  
}
footer ul li a{
    text-decoration: none;
    padding:10px;
}

/* Style inputs, select elements and textareas */
input[type=text], select{
  text-align: left;
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 500px) {
	body {
		margin: 5% auto;
		padding: 0 10%;
	}
	header {
		width: 100%;
	}
    input[type=text], select{
        text-align: left;
        width: 60%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
      }
}
header nav ul {
	list-style:none;
  text-align:center;
}
#logo{
  display: none;
}
img{
  display: none;
}

