* {
	padding:0;
	margin:0;
	text-align: center;
  	font-family: 'Times New Roman', Georgia, sans-serif;
	color:#ffffff;
  	background-color: #A40D27;
	list-style-type: none;
}

abbr{
	text-decoration: none;
}

a{
  font-family: helvetica;
}
/* unvisited link */
a:link {
	color: #ffffff;
  }
  
  /* visited link */
  a:visited {
	color: #ffffff;
  }
  
  /* mouse over link */
  a:hover {
	color: #cccccc;
  }
  
  /* selected link */
  a:active {
	color: #F08093;
  }

img{
  	margin-bottom: 50px;
	width: 200px;
	height: auto;

  }

body {
	margin: 0px;
	text-align: center;
	font-family: sans-serif;
	display: grid;
	grid-template-columns: (50% 50%);
	grid-gap: 10px;
}


header {
	width: 100%;
	padding: 0;
	text-align: center;
}

header nav {
	margin:20px auto;
}

header nav ul {
	list-style:none;
	text-align:center;
}

header nav ul li {
	display:inline-block;
	position: relative;
	}

header nav ul li a {
	display:block;
	text-decoration:none;
	padding: 20px 10px;
}

 p { 
  font-family: helvetica;
  margin: 5%; 
  letter-spacing: 0.2px; 
  font-weight: lighter;
	}

h1 {
  font: normal 3em 'New Times Roman', georgia;
  letter-spacing: 0.2px; 
  font-weight: lighter;
}

h3 { 
	font: normal 2em georgia, sans-serif;
  font-weight:lighter;
	letter-spacing: 0.2px; 
	margin: 40px 15px;
	color: #000000;
	}

a.title{
    text-decoration: none;
}

 a.button {
   background-color: #000000;
   font: normal 1.1em Georgia;
   font-family: 'Times New Roman';
   font-weight: lighter;
   padding:10px;
   margin:15%;
   border-style: none;
   border-radius: 5px;
   text-decoration: none;
  }

footer ul li a{
  text-decoration: none;
  padding:10px;
}
footer ul li {
	display:inline-block;
	position: relative;
  	margin:60px auto;
}
@media screen and (max-width: 800px) {
	body {
		margin: 0;
		padding: 0;
	}

	header {
		width: 100%;
	}
}